* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-color {
    background-color: lightgray;
}

.main-custom {
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
}

#contadorCarrito {
    font-size: .87em;
    font-weight: bold;
    padding-left: .35em;
    padding-right: .35em;
    padding-top: .35em;
    padding-bottom: .25em;
    background-color: red;
    border-radius: 50%;
}

#offcanvasRight {
    overflow-y: auto;
}

.menuCarrito {
    padding: 3%;
}

.menuCarrito ul {
    padding: 0;
}

.menuCarrito ul li{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 1%;
}

.menuCarrito ul li div {
    margin-left: 3%;
}

.menuCarrito p {
    text-align: center;
    font-size:x-large;
}

.menuCarrito #formCompraFinal {
    display: flex;
    flex-direction: column;
}

.menuCarrito #formCompraFinal #botonCompraFinal {
    margin-top: 5%;
}

#products {
    display: flex;
    margin-top: 1%;
}

#filters-div {
    width: 25%;
}

#filters-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 5%;
}

#filters-div form button{
    margin-top: 5%;
}

#contenedorProductos {
    display: flex;
    justify-content: center;
}

.formAgregar {
    display: flex;
    flex-direction: column;
}

.formAgregar input {
    margin-top: 5px;
    margin-bottom: 10px;
}
