* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-color {
    background-color: lightgray;
}

.main-custom {
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
}

#contadorCart {
    font-size: .87em;
    font-weight: bold;
    padding-left: .35em;
    padding-right: .35em;
    padding-top: .35em;
    padding-bottom: .25em;
    background-color: red;
    border-radius: 50%;
}

.menuCarrito {
    padding: 5%;
}

.menuCarrito ul li{
    text-decoration: none;
}

.menuCarrito #formCompraFinal {
    display: flex;
    flex-direction: column;
}

.menuCarrito #formCompraFinal #botonCompraFinal {
    margin-top: 5%;
}

#products {
    display: flex;
    margin-top: 1%;
}

#filters-div {
    width: 25%;
}

#contenedorProductos {
    display: flex;
    justify-content: center;
}

.formAgregar {
    display: flex;
    flex-direction: column;
}

.formAgregar input {
margin-top: 5px;
margin-bottom: 10px;
}
